body {
    color: black;
    background-color: black;
    margin: 0;
    position: relative;
    z-index: 0;
    animation: fadeIn 0.7s ease-in;
}
body::before {
    background: url("imagens/11.jpeg");
    filter: brightness(40%);
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
* {
    box-sizing: border-box;
}
header {
    text-align: center;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color: #ff66b2;
    text-shadow: 2px 2px 3px #ffffff;
    margin-top: -25px;
}
#musica {
    color: black;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #f4b6c2;
    border-radius: 20px;
    border: solid 2px #f4b6c2;
    font-size: 20px;
    padding: 10px;
    font-family: 'Lilita One', sans-serif;
    box-shadow: 2px 2px 5px white;
    cursor: pointer;
    transition: 0.3 ease;
}
#musica:hover {
    transform: scale(1.05);
}
main {
    text-align: center;
    font-family: 'Lilita One', sans-serif;
    font-size: 30px;
    color: #f4b6c2;
    text-shadow: 2px 2px 5px black;
    margin: 10px;
}
main h2 {
    font-size: 50px;
    text-decoration: underline;
    animation: float 4s ease-in-out infinite;
}
.nossa-historia h1 {
    animation: float 4s ease-in-out infinite;
}
.nossa-historia h2 {
    color: #4fa3d1;
    font-size: 45px;
    border: solid 5px;
    border-radius: 20px;
    background-color: black;
    padding: 20px;
    width: 400px;
    height: 300px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(255,255,255,1);
    animation: float 2.5s ease-in-out infinite;
}
@keyframes float {
    0% {transform: translateY(10px);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(10px);}
}
.imagens h1 {
    font-size: 55px;
}
.imagens h3 {
    font-size: 45px;
}
.imagens p {
    text-decoration: underline;
    font-size: 35px;
    animation: float 4s ease-in-out infinite;
}
.imagens img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: solid 2px #f4b6c2;
    border-radius: 20px;
}
.imagens video {
    background-color: #f4b6c2;
    width: 100%;
    max-width: 300px;
    height: auto;
    border: solid 2px #f4b6c2;
    border-radius: 20px;
    display: block;
    margin: auto;
    visibility: visible;
    opacity: 1;
}
.prints img {
    width: 100%;
    max-width: 300px;
    height: 600px;
    border: solid 2px #66b466;
    border-radius: 20px;
}
.prints h4 {
    font-size: 55px;
    animation: float 4s ease-in-out infinite;
}
.volta h1 {
    color: #ff66b2;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.7);
    font-size: 50px;
    text-decoration: underline;
    animation: float 4s ease-in-out infinite;
    margin-top: 120vh;
}
.volta p {
    font-size: 35px;
}
.volta h3 {
    color: #ff66b2;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.7);
    font-size: 60px;
    animation: float 4s ease-in-out infinite;
}
#botoes{
    animation: float 4s ease-in-out infinite;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 200px;
}
#botao1, #botao2 {
    font-size: 30px;
    font-family: 'Lilita One', sans-serif;
    color: #f4b6c2;
    width: 150px;
    height: 50px;
    border: solid 5px #f4b6c2;
    border-radius: 200px;
    background-color: black;
    box-shadow: 2px 2px 5px rgba(255,255,255,1);
    cursor: pointer;
    position: absolute;
    z-index: 10;
    transition: 0.3 ease;
}
#botao1 {
    left: 30px;
    top: 70px;
}
#botao2 {
    right: 30px;
    top: 70px;
}
#botao1:hover, #botao2:hover {
    transform: scale(1.05);
}
footer {
    text-align: center;
    color: #f4b6c2;
    font-size: 25px;
    font-family: 'Lilita One', sans-serif;
}
.carrossel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}
.carrossel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
.carrossel-item {
    min-width: 100%;
    box-sizing: border-box;
}
.carrossel img {
    width: 100%;
    object-fit: cover;
}
.anterior, .proximo {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    z-index: 100;
    margin: auto;
    border: none;
    width: 50px;
    height: 50px;
    padding: 1px;
    font-size: 25px;
    transform: translateY(-50%);
}
.anterior {
    left: -10px;
}
.proximo {
    right: -10px;
}
.anterior:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.proximo:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
